@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --bg: #f5f5f5;
    --text: #222;
    --primary: hsl(217, 100%, 56%);
    
    --f1: 'Ubuntu', sans-serif;
    --f2: 'Work Sans', sans-serif;
    --fs1: 14px;
    --fs2: 16px;
    --fs3: 18px;
    --fs4: 24px;
    --c1: #f5f5f5;
    --c1_bright: white;
    --c2: #bcbcbd;
    --c3: rgb(22, 38, 54);
    --c4: hsl(217, 91%, 60%);
    --c5: hsl(217, 91%, 40%);
}

body {
    margin: 0;
    font-family: var(--f2);
    background: var(--c1);
    padding: 100px 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--c3);
    font-family: 'Work Sans', sans-serif;
}

.card {
    width: 400px;
    background: var(--c1_bright);
    padding: 30px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.044);
}

.card h1 {
    font-family: var(--f1);
}

#main-desc {
    font-size: var(--fs2);
    color: var(--c2)
}

.start-btn {
    background: var(--primary);
    color: var(--c1_bright);
    padding: 16px;
    border-radius: 8px;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: var(--fs3);
    font-weight: bolder;
    font-family: var(--f1);
    transition: background 0.3s ease-in-out;
}

.start-btn:hover {
    background: var(--c5);
    transition: background 0.3s ease-in-out;
}

.final-btn {
    background: var(--primary);
    color: white;
    padding: 12px;
    margin-top: 20px;
    border-radius: 8px;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
}

.final-btn:disabled {
    opacity: .5;
    cursor: not-allowed;
}

#step-label {
    margin: 10px 0 20px 0;
    color: #555;
}

.flash-popup {
    position: fixed;
    bottom: 20px;
    /* left: 20px; */
    background: #ff4d4d;
    padding: 14px 20px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    opacity: 1;
    transition: opacity 0.4s ease;
    z-index: 99999;
}
